
@-webkit-keyframes spin{from{-webkit-transform:rotateY(0)}to{-webkit-transform:rotateY(360deg)}}
@-ms-keyframes spin{from{ms-transform:rotateY(0)}to{ms-transform:rotateY(360deg)}}
@-webkit-keyframes spin{from{-webkit-transform:rotateY(0)}to{-webkit-transform:rotateY(360deg)}}
@-webkit-keyframes spin-vertical{from{-webkit-transform:rotateX(0)}to{-webkit-transform:rotateX(-360deg)}}
@-ms-keyframes spin-vertical{from{ms-transform:rotateX(0)}to{ms-transform:rotateX(-360deg)}}
@-webkit-keyframes spin-vertical{from{-webkit-transform:rotateX(0)}to{-webkit-transform:rotateX(-360deg)}}
#position{
	display:none;
}
.cube-wrap{
	-webkit-perspective:800px;
	-webkit-perspective-origin:50% 10px;-moz-perspective:800px;
	-moz-perspective-origin:50% 10px;-ms-perspective:800px;
	-ms-perspective-origin:50% 10px;
	-webkit-perspective:800px;
	-webkit-perspective-origin:50% 10px;
	
}
.cube{
	position:relative;
	width:20px;
	margin:0 auto;
	-webkit-transform-style:preserve-3d;
	-webkit-animation:spin 5s infinite linear;
	-moz-transform-style:preserve-3d;
	-moz-animation:spin 5s infinite linear;
	-ms-transform-style:preserve-3d;
	-ms-animation:spin 5s infinite linear;
	-webkit-transform-style:preserve-3d;
	-webkit-animation:spin 5s infinite linear
	}
.cube div{
	position:absolute;
	width:20px;height:20px;
	background:rgba(255,255,255,0.1);
	box-shadow:inset 0 0 30px rgba(125,125,125,0.8);
	font-size:20px;
	text-align:center;
	line-height:20px;
	color:rgba(0,0,0,0.5);
	font-family:sans-serif;
	text-transform:uppercase
}
.depth div.back-pane{
	-webkit-transform:translateZ(-10px) rotateY(180deg);
	-moz-transform:translateZ(-10px) rotateY(180deg);
	-ms-transform:translateZ(-10px) rotateY(180deg);
	-webkit-transform:translateZ(-10px) rotateY(180deg)
}
.depth div.right-pane{
	-webkit-transform:rotateY(-270deg) translateX(10px);
	-webkit-transform-origin:top right;
	-moz-transform:rotateY(-270deg) translateX(10px);
	-moz-transform-origin:top right;
	-ms-transform:rotateY(-270deg) translateX(10px);
	-ms-transform-origin:top right;
	-webkit-transform:rotateY(-270deg) translateX(10px);
	-webkit-transform-origin:top right
}.depth div.left-pane{
	-webkit-transform:rotateY(270deg) translateX(-10px);
	-webkit-transform-origin:center left;-moz-transform:rotateY(270deg) translateX(-10px);
	-moz-transform-origin:center left;-ms-transform:rotateY(270deg) translateX(-10px);
	-ms-transform-origin:center left;-webkit-transform:rotateY(270deg) translateX(-10px);
	-webkit-transform-origin:center left
}
.depth div.top-pane{
	-webkit-transform:rotateX(-90deg) translateY(-10px);
	-webkit-transform-origin:top center;
	-moz-transform:rotateX(-90deg) translateY(-10px);-moz-transform-origin:top center;
	-ms-transform:rotateX(-90deg) translateY(-10px);-ms-transform-origin:top center;
	-webkit-transform:rotateX(-90deg) translateY(-10px);
	-webkit-transform-origin:top center
}
.depth div.bottom-pane{
	-webkit-transform:rotateX(90deg) translateY(10px);
	-webkit-transform-origin:bottom center;
	-moz-transform:rotateX(90deg) translateY(10px);
	-moz-transform-origin:bottom center;
	-ms-transform:rotateX(90deg) translateY(10px);
	-ms-transform-origin:bottom center;-webkit-transform:rotateX(90deg) translateY(10px);
	-webkit-transform-origin:bottom center
}
.depth div.front-pane{
	-webkit-transform:translateZ(10px);
	-moz-transform:translateZ(10px);
	-ms-transform:translateZ(10px);-webkit-transform:translateZ(10px)
}
.cube-wrap.vertical .cube{
	-webkit-transform-origin:0 10px;
	-moz-transform-origin:0 10px;
	-ms-transform-origin:0 10px;
	-webkit-transform-origin:0 10px;
	-webkit-animation:spin-vertical 5s infinite linear;
	-moz-animation:spin-vertical 5s infinite linear;
	-ms-animation:spin-vertical 5s infinite linear;
	-webkit-animation:spin-vertical 5s infinite linear
} 
.cube-wrap.flat{
	-webkit-perspective:none;
	-webkit-perspective-origin:0 0;
	-moz-perspective:none;
	-moz-perspective-origin:0 0;
	-ms-perspective:none;
	-ms-perspective-origin:0 0;
	-webkit-perspective:none;
	-webkit-perspective-origin:0 0
}
.cube .top-pane{
		background:rgba(240,0,18,0.6);
		box-shadow:inset 0 0 30px rgba(125,125,125,0.1);
}
.cube .bottom-pane{
		background:rgba(170,0,13,0.6);
		box-shadow:inset 0 0 30px rgba(125,125,125,0.1);
}
.cube .left-pane{
		background:rgba(166,0,13,0.6);
		box-shadow:inset 0 0 30px rgba(125,125,125,0.1);
}
.cube .front-pane{
		background:rgba(230,0,18,0.6);
		box-shadow:inset 0 0 30px rgba(125,125,125,0.1);
}
.cube .right-pane{
		background:rgba(210,0,16,0.6);
		box-shadow:inset 0 0 30px rgba(125,125,125,0.1);
}
.cube .back-pane{
		background:rgba(190,0,14,0.6);
		box-shadow:inset 0 0 30px rgba(125,125,125,0.1);
}